In [ ]:
import requests
import pandas as pd

result = []
offset = 0
limit = 10000
request_count = 0  # Initialize a counter for the number of requests

while True:
    url = "https://5fcbs3i0z4.execute-api.eu-west-3.amazonaws.com/v2/data"
    params = {
        # "start_date": "2023-01-01",     # Optional parameter
        # "end_date": "2024-12-15",       # Optional parameter
        # 'REGION': 'N. ATHINON',         # Optional parameter
        "limit": limit,                 # Default is 10000
        "offset": offset                # Mandatory parameter to be incremented
    }
    headers = {
        "x-api-key": "VH5AaWqgBchJw3a8yOkq5i5nVJ0hNMl5mwzkPMm1"
    }

    response = requests.get(url, params=params, headers=headers)
    request_count += 1  # Increment the request counter
    data = response.json()
    
    if response.status_code != 200:
        print(f"Error: {response.status_code}. Breaking the loop.")
        break

    if not data:
        print("No more data available. Breaking the loop.")
        break
    
    result.append(pd.DataFrame(data))
    offset += limit  # Increment the offset for the next request

print(f"Total number of requests sent: {request_count}")

No more data available. Breaking the loop.
Total number of requests sent: 15

In [2]:
# Generate one concatenated DataFrame from result list
df = pd.concat(result, ignore_index=True)
df['DATE'] = pd.to_datetime(df["DATE"], format="%Y-%m-%d")
# df.to_parquet('data.parquet')
df.head()

,AUTOGAS,AUTOMOTIVE_DIESEL,DATE,HOME_HEATING_DIESEL,REGION,Super,UNLEADED_100_OCTANE,UNLEADED_95_Octane
0,0.803,1.285,2018-01-01,0.984,N. ATHINON,1.630,1.724,1.511
1,0.874,1.323,2018-01-01,1.029,N. ETOLOAKARNANIAS,1.689,1.754,1.556
2,0.845,1.292,2018-01-01,1.000,N. ARGOLIDAS,1.540,1.700,1.528
3,0.846,1.330,2018-01-01,1.002,N. ARKADIAS,0.000,1.748,1.559
4,0.868,1.316,2018-01-01,1.016,N. ARTAS,NaN,1.725,1.529

In [3]:
df['DATE'].unique().min(), df['DATE'].unique().max()

(Timestamp('2017-03-14 00:00:00'), Timestamp('2024-12-23 00:00:00'))